.alert-notification-component.alert {
  padding: 1em;
  margin-bottom: .5em;
}

.alert-notification-component.alert.alert-error {
  background-color: #e74c3c; /* flatuicolors.com/alizarin */
  color: white;
}

.alert-notification-component.alert.alert-success {
  background-color: #2ecc71; /* flatuicolors.com/emerald */
  color: white;
}

.alert-notification-component.alert.alert-warning {
  background-color: #f1c40f;  /* flatuicolors.com/sunflower */
  color: white;
}

.pull-right {
  float: right;
}

.cursor-pointer {
  cursor: pointer;
}
